table {
    width: 100%;
    height: 85%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.blue { background-color: rgb(105, 172, 255); }
.green { background-color: rgb(88, 215, 101); }
.darkgreen { background-color: rgb(69, 153, 56); }
.orange { background-color: rgb(247, 157, 31); }
.yellow { background-color: rgb(255, 250, 207); }
.brightyellow { background-color: rgb(252, 245, 39); }
.gray { background-color: rgb(205, 208, 206); }
.lab { background-color: rgb(240, 116, 8); }
.mentor { background-color: rgb(170, 195, 222); }

.intable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.intable th,
.intable td {
    border: 1px solid #000;
}
